body{
  height: 100vh;
}

strong{
  font-weight: 600;
}
.bg-main{
  background-color: #206c65;
  /* background: linear-gradient(90deg, #113632 0%, #206c65 100%);  */
}

.btn{
  border-radius: 1em;
}
.btn-main{
  background-color: #309C91;
  color: white;
}
.btn-main:hover{
  background-color: #206c65;
  color: white;
}

.font-nova {
  font-family: "Nova Round", system-ui;
  font-weight:400;
  /* font-size: 2.2em; */
  font-style: normal;
}


.mx-tiny{
  margin-left: 0.1em;
  margin-right: 0.1em;
}
.nav-font {
  font-size: 1.4em;
  color: white;
}
.logo{
  font-size: 2.2em;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.list-item{
  text-decoration: none;
}

.list-item:hover{
  background-color: #F0F0F0;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (max-width: 768px) { /* Bootstrap's 'sm' breakpoint */
  .h-md-auto {
    height: auto !important;
  }
}

.min-h-100{
  min-height: 100%;
}

