body{
  height: 100vh;
}
#header{
  background-color: #309C91;
}
.bg-main{
  background-color: #309C91;
}
.btn-main{
  background-color: #309C91;
  color: white;
}
.btn-main:hover{
  background-color: #206c65;
  color: white;
}

.font-nova {
  font-family: "Nova Round", system-ui;
  font-weight:400;
  font-size: 2.2em;
  font-style: normal;
}



.nav-font {
  font-size: 1.4em;
  color: white;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (max-width: 768px) { /* Bootstrap's 'sm' breakpoint */
  .h-md-auto {
    height: auto !important;
  }
}

.min-h-100{
  min-height: 100%;
}

